@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 100 900;  
  font-style: normal;
  font-display: swap;
}

:root { 
  --color-red: #e7000b;
  --color-black: #2e2e2e;
  --color-white: #f9fafc; 
  --color-gray: #7d8385;
  --color-blue: #377dff;
  --color-blue-light: #82e4d5;
  --color-blue-light-ligth:#cfdde9;
  --color-yellow-light:#edf2cc;
}

@theme   {  
  --color-red: var(--color-red);
  --color-black: var(--color-black);
  --color-white: var(--color-white); 
  --color-gray: var(--color-gray);
  --color-blue: var(--color-blue);
  --color-blue-light: var(--color-blue-light);
  --color-blue-light-ligth: var(--color-blue-light-ligth);
  --color-yellow-light:var( --color-yellow-light);
}

* { 
  font-family: 'Poppins', sans-serif;
}
body { 
  background-color: var(--color-white); 
} 

.transition-all{
  transition: all 0.3s ease-in-out;
}