@import "tailwindcss";

@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;  
  font-style: normal;
  font-display: swap;
}

:root { 
  --color-red: #e7000b;
  --color-black: #2e2e2e;
  --color-white: #fdfdfd; 
}

@theme   {  
  --color-red: var(--color-red);
  --color-black: var(--color-black);
  --color-white: var(--color-white);
  --font-jetbrains: 'JetBrains', sans-serif;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.transition-all{
  transition: all 0.3s ease-in-out;
}